#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

/* Table Css */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

td {
  color: #666666;
}
